@font-face {
    src: url(fonts/gotham-bold.otf);
    font-family: gotham-bold;
}

@font-face {
    src: url(fonts/roboto-mono.ttf);
    font-family: roboto-mono;
}

html {
    scroll-behavior: smooth;
}

body > section {
    padding: 0px 20%;
}

/* BACKGROUND */

body {
    background: white;
    font-family: roboto-mono, monospace;
    /* font-family: gotham-black, sans-serif; */
    padding: 0;
    margin: 0;
}

header {
    background: red;
}

/* NAVBAR */

header .navbar {
    background: black;
    padding-right: 100px;
    color: white;
    margin: 0;
}

header .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

header .navbar ul li {
    display: inline-block;
    margin: 20px;
}

/* HYPERLINKS */

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* TITLE */

header .cover {
    background-color: black;
    background-image: url("images/leadership_camp.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    text-align: center;
    font-size: 64px;
}

header .cover .title {
    margin: 0;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding-top: 300px;
    padding-bottom: 300px;
    font-size: 64px;
}

section h1, section h2 {
    text-align: center;
}

section h2 {
    font-size: 18px;
}

/* EXPERIENCE */

.experience {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
}

.experience div {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.experience div img {
    width: 100px;
    height: 100px;
    margin-left: 10%;
}

.experience div p {
    width: 60%;
    margin-left: 10px;
}

/* PROJECTS */

.projects {
    padding: 0 10%;
}

.projects .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.projects .card-container .card {
    margin: 0;
    /* background-color: red; */
    flex-direction: row;
    width: 50%;
    min-width: 500px;
    height: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: 0.5s ease;
}

.projects .card-container .card.dewoh {
    background-image: url("images/dewoh.png");
}

.projects .card-container .card.intranet {
    background-image: url("images/intranet.png");
}

.projects .card-container .card p {
    margin: 0;
    text-align: center;
    opacity: 0;
    padding-top: 250px;
    padding-bottom: 250px;
    font-size: 32px;
    font-weight: 600;
    transition: 0.5s ease;
}

.projects .card-container .card:hover p {
    opacity: 1;
    background-color: rgb(255, 255, 255, 0.5);
}

.projects .card-container .card:hover {
    /* background-size: cover; */
    /* background-position-x: -100px; */
    transform: scale(1.1);
}

/* CHAMPS */

.champs {
    background-color: lightgreen;
}

.champs div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: lightcoral;
}

.champs div .card {
    position: relative;
    /* border-radius: 50%; */
}

.champs div .card img {
    margin: 5%;
    width: 200px;
    transition: 0.5s ease;
    /* border-radius: 50%;
    box-shadow: 1px 1px 10px black; */
}

.champs div .card .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.champs div .card:hover img {
    opacity: 0.5;
    transform: scale(1.1);
}

.champs div .card:hover .middle {
    opacity: 1;
}

.champs div .card p {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 32px;
    padding: 16px 32px;
}

/* DEDUPLICATIFY */

.gotham {
    font-family: gotham-bold, sans-serif;
}

header .deduplicatify-cover {
    background-color:rgb(18, 18, 18);
    height: 300px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0 15%;
}

header .deduplicatify-cover .title {
    color: white;
    margin: 0;
    font-size: 72px;
    /* background-color: red; */
}

header .deduplicatify-cover img {
    width: 30%;
    /* background-color: red; */
}

.description {
    text-align: center;
}

.input {
    text-align: center;
}

.input input {
    width: 70%;
    padding: 10px;
    text-align: center;
    /* how to change font? */
}

.results {
    margin-top: 50px;
}

.results .playlist-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.results .playlist-metadata .playlist-info {
    max-width: 50%;
    font-size: 32px;
    padding-right: 50px;
}

.results .playlist-metadata .playlist-artwork {
    /* max-height: 100%;
    width: auto; */
    background-color: violet;
    margin: 0;
}

.results .playlist-metadata .playlist-artwork img {
    width: 150%;
}

/* FOOTER */

footer {
    background: black;
    padding-right: 100px;
    color: white;
    margin: 0;
    height: 100px;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin: 20px;
}