.pokeball-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-logo {
    display: inline-block;

    width: 2rem;
    height: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokeball {
    cursor: pointer;

    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 2rem;
}

.pokeball * {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.pokeball-lid {
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: var(--pokemon-red);
    border-radius: 25px 25px 0 0;
    border: 2px solid var(--pokemon-black);
    border-bottom: 1px solid var(--pokemon-black);
}

/* Pokeball button */
.pokeball-lid:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    transform: translate(-50%, calc(50% + 1px));
    background-color: white;
    border-radius: 50%;
    border: 2px solid var(--pokemon-black);
}

.pokeball-open .pokeball-lid,
.pokeball:hover .pokeball-lid {
    top: -30%;
    left: 0;
    border: 2px solid var(--pokemon-black);

}

.pokeball-open .pokeball-base,
.pokeball:hover .pokeball-base {
    top: 80%;
    left: 0;
    border: 2px solid var(--pokemon-black);

}

.pokeball-base {
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: var(--white);
    border-radius: 0 0 25px 25px;
    border: 2px solid var(--pokemon-black);
    border-top: 1px solid var(--pokemon-black);
}
