@font-face {
    font-family: Square;
    src: url("../assets/fonts/Square.ttf");
}

@font-face {
    font-family: "Square Outline";
    src: url("../assets/fonts/Squareo.ttf");
}

@font-face {
    font-family: "m20";
    src: url("../assets/fonts/m20.TTF");
}

@font-face {
    font-family: "mania";
    src: url("../assets/fonts/mania.ttf");
}

@font-face {
    font-family: "Super Smash TV";
    src: url("../assets/fonts/Super Smash TV.ttf");
}

.dot {
    height: 2px;
    width: 2px;
    background-color: rgb(0, 0, 0, 0.2);
    /* border-radius: 50%; */
    display: inline-block;

    position: absolute;
}

.top {
    top: 2px;
}

.left {
    left: 2px;
}

.bottom {
    bottom: 2px;
}

.right {
    right: 2px;
}

.technology-rectangle {
    border-radius: 1px;
    outline: 1px solid #586060;

    width: 48px;
    height: 16px;
    margin: 2px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.technology-text {
    font-family: "Super Smash TV", sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 0 #707878;
    font-size: 16px;
}

.scale-5 {
    -webkit-transform: scale(0.85, 1);
    -moz-transform: scale(0.85, 1);
    -o-transform: scale(0.85, 1);
    transform: scale(0.85, 1);
}

.scale-6 {
    -webkit-transform: scale(0.7, 1);
    -moz-transform: scale(0.7, 1);
    -o-transform: scale(0.7, 1);
    transform: scale(0.7, 1);
}

.scale-10 {
    -webkit-transform: scale(0.5, 1);
    -moz-transform: scale(0.5, 1);
    -o-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}

.c {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #283593;
    border-right: 1px solid #283593;
    background: linear-gradient(160deg, #5c6bc0 50%, #283593 50%);
}

.c\+\+ {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #004482;
    border-right: 1px solid #004482;
    background: linear-gradient(160deg, #659AD2 50%, #004482 50%);
}

.c\# {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #6a1577;
    border-right: 1px solid #6a1577;
    background: linear-gradient(160deg, #9a4993 50%, #6a1577 50%);
}

.java {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #5382a1;
    border-right: 1px solid #5382a1;
    background: linear-gradient(#f89820 50%, #5382a1 50%);
}

.aws {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #232F3E;
    border-right: 1px solid #232F3E;
    background: linear-gradient(#FF9900 50%, #232F3E 50%);
}

.gcp {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #232F3E;
    border-right: 1px solid #232F3E;
    background: linear-gradient(30deg, #4285F4 0 25%, #DB4437 25% 50%, #F4B400 50% 75%, #0F9D58 75% 100%);
}

.azure {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #004d77;
    border-right: 1px solid #004d77;
    background: #008AD7;
}

.terraform {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #59288a;
    border-right: 1px solid #59288a;
    background: #844FBA;
}

.python {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #d6ab0d;
    border-right: 1px solid #306998;
    background: linear-gradient(#4B8BBE 50%, #FFD43B 50%);
}

.kotlin {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #B75EA4;
    border-right: 1px solid #B75EA4;
    background: linear-gradient(#F6891F 50%, #B75EA4 50%);
}

.html {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #e34c26;
    border-right: 1px solid #e34c26;
    background: #f06529;
}

.css {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #264de4;
    border-right: 1px solid #264de4;
    background: #2965f1;
}

.javascript, .js {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #e0ac00;
    border-right: 1px solid #e0ac00;
    background: #f0db4f;
}

.typescript, .ts {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #004370;
    border-right: 1px solid #004370;
    background: #007acc;
}

.react {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #0ca8cf;
    border-right: 1px solid #0ca8cf;
    background: #61DBFB;
}

.vue {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #068b50;
    border-right: 1px solid #068b50;
    background: #41B883;
}

.fire {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #C72000;
    border-right: 1px solid #C72000;
    background: #E94F20;
}

.grass {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #3C980A;
    border-right: 1px solid #3C980A;
    background: #85C550;
}

.water {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #3473C4;
    border-right: 1px solid #3473C4;
    background: #6898F8;
}

.electric {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #E79305;
    border-right: 1px solid #E79305;
    background: #FAC84E;
}

.fighting {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #5F2315;
    border-right: 1px solid #5F2315;
    background: #8B4934;
}

.normal {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #ACA692;
    border-right: 1px solid #ACA692;
    background: #CDC7C2;
}

.bug {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #89960C;
    border-right: 1px solid #89960C;
    background: #B2C13A;
}
