@font-face {
    font-family: Square;
    src: url("../assets/fonts/Square.ttf");
}

@font-face {
    font-family: "Square Outline";
    src: url("../assets/fonts/Squareo.ttf");
}

@font-face {
    font-family: "m20";
    src: url("../assets/fonts/m20.TTF");
}

@font-face {
    font-family: "mania";
    src: url("../assets/fonts/mania.ttf");
}

@font-face {
    font-family: "Super Smash TV";
    src: url("../assets/fonts/Super Smash TV.ttf");
}
