/* body * {
    border: 1px solid black;
} */

main {
    margin: 2rem 0;
}

h1 {
    font-size: 10rem;
    font-family: 'raleway-black';
}

.main-container {
    position: relative;
    min-height: 80vh;
}

.projects-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.podcast {
    transition: 0.3s;
}
