@font-face {
  font-family: "Super Smash TV";
  src: url("./assets/fonts/Super Smash TV.ttf");
}

@font-face {
  font-family: "pokemondppt";
  src: url("./assets/fonts/pokemondppt.ttf");
}

:root {
  --pokemon-red: #E83030;
  --pokemon-light-red: #F898A0;
  --pokemon-white: #F8F8F8;
  --pokemon-light-grey: #D8D8D8;
  --pokemon-grey: #787878;
  --pokemon-dark-grey: #585858;
  --pokemon-black: #212121;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.125rem;
  transition: 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
