@font-face {
  font-family: "Super Smash TV";
  src: url("./assets/fonts/Super Smash TV.ttf");
}

@font-face {
  font-family: "pokemondppt";
  src: url("./assets/fonts/pokemondppt.ttf");
}

@font-face {
  font-family: "Pokedex";
  src: url("./assets/fonts/Pokedex.TTF");
}

@font-face {
  font-family: "deltarune";
  src: url("./assets/fonts/deltarune.ttf");
}

@font-face {
  font-family: "eightbithud";
  src: url("./assets/fonts/eightbithud.ttf");
}

:root {
  --pokemon-light-red: #F898A0;
  --pokemon-red: #E83030;
  --pokemon-dark-red: #C02028;
  --pokemon-darker-red: #901020;
  --pokemon-white: #F8F8F8;
  --pokemon-light-grey: #D8D8D8;
  --pokemon-grid-grey: #A8A8A8;
  --pokemon-grey: #787878;
  --pokemon-dark-grey: #585858;
  --pokemon-black: #212121;
}

html {
  /* When changing this value make sure there are not white gaps between lines */
  font-size: 0.185vw;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* transition: 0.3s; */

  background: var(--pokemon-white);
  background-size: 40rem 40rem;
  background-position: 10rem 0rem;
  background-image:
    linear-gradient(to right, var(--pokemon-grid-grey) 1rem, transparent 1rem),
    linear-gradient(to bottom, var(--pokemon-grid-grey) 1rem, transparent 1rem);
}

main {
  padding-top: 10rem;
}
